@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}

.text {
  font-size: 1.6em;
  line-height: 20px;
}

h1 {
  font-weight: 700;
  font-size: 3em;
}

h2 {
  font-weight: 700;
  font-size: 2.6em;
}

.cost {
  font-size: 1.8em;
  font-weight: 700;
  line-height: 24px;
}

body {
  font-weight: 400;
  font-size: 10px;
  font-family: Montserrat;
  color: #000;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (max-width: 931px) {
  .container {
    max-width: 930px;
  }
}
@media (max-width: 690px) {
  .container {
    max-width: 510px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 37px;
}
@media (max-width: 690px) {
  .header_logo-image {
    width: 180px;
  }
}
.header_cart {
  position: relative;
  text-align: center;
  color: #35383A;
  height: 30px;
  font-weight: 600;
  width: 142px;
}
@media (max-Width: 511px) {
  .header_cart {
    width: 49px;
  }
}
.header_cart::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 28px;
  height: 23px;
  background: no-repeat url(/src/icon/cart.svg);
}
.header_cart a {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding-top: 5px;
}
.header_cart span {
  display: inline-block;
}
@media (max-Width: 511px) {
  .header_cart span {
    color: #fff;
    opacity: 0;
  }
}
.header_cart:hover {
  color: #00A82D;
}
.header_cart:hover::before {
  background: no-repeat url(/src/icon/cart_green.svg);
}

.catalog {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.catalog_title {
  line-height: 39px;
  margin-bottom: 40px;
}
.catalog_items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 40px;
  grid-column-gap: 30px;
}
@media (max-width: 991px) {
  .catalog_items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 691PX) {
  .catalog_items {
    grid-template-columns: repeat(1, 1fr);
  }
}

.item {
  max-width: 270px;
  height: 380px;
  padding: 10px 10px 35px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid #DEDEDE;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 691px) {
  .item {
    max-width: 450px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 20px 25px;
  }
}
@media (max-width: 511px) {
  .item {
    padding: 10px 10px 35px;
  }
}
.item_image {
  margin-bottom: auto;
  max-width: 200px;
  max-height: 200px;
}
.item_image img {
  width: 100%;
  height: 100%;
}
@media (max-width: 691px) {
  .item_image {
    max-width: 400px;
    max-height: 400px;
  }
}
@media (max-width: 511px) {
  .item_image {
    margin-bottom: 15px;
  }
}
.item_name {
  text-align: center;
  margin-bottom: 15px;
  font-weight: 500;
}
.item_btn {
  background-color: #296DC1;
  padding: 0 12px;
  height: 0px;
  font-weight: 600;
  font-size: 1.2em;
  color: #fff;
  line-height: 16px;
  transition: height 0.3s linear;
}
@media (max-width: 690px) {
  .item_btn {
    height: 40px;
  }
}
.item_cost {
  margin-bottom: 15px;
}
.item:hover {
  padding: 10px 20px 10px;
}
.item:hover button {
  height: 40px;
  transition: height 0.3s ease;
}

.cart {
  margin: 60px 0 40px;
}
.cart_title {
  text-align: center;
}
.cart_items {
  display: flex;
  flex-direction: column;
}
.cart_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 30px 40px 12px;
  margin-bottom: 40px;
  box-sizing: border-box;
  border-bottom: #A8AFBB solid 1px;
}
@media (max-width: 931px) {
  .cart_item {
    justify-content: space-between;
  }
}
@media (max-width: 691px) {
  .cart_item {
    flex-direction: column;
  }
}
.cart_image {
  width: 125px;
  margin-right: 65px;
}
.cart_image img {
  width: 100%;
}
@media (max-width: 931px) {
  .cart_image {
    margin: 0;
  }
}
@media (max-width: 691px) {
  .cart_image {
    margin: 30px 0 10px;
    width: 400px;
  }
}
@media (max-width: 511px) {
  .cart_image {
    width: 200px;
  }
}
.cart_name {
  font-weight: 500;
  margin-right: 150px;
  max-width: 270px;
}
@media (max-width: 1170px) {
  .cart_name {
    margin-right: 50px;
  }
}
@media (max-width: 931px) {
  .cart_name {
    margin: 0;
  }
}
@media (max-width: 691px) {
  .cart_name {
    margin: 0 0 15px;
    text-align: center;
  }
}
.cart_counter {
  margin-right: 160px;
}
@media (max-width: 1170px) {
  .cart_counter {
    margin-right: 75px;
  }
}
@media (max-width: 931px) {
  .cart_counter {
    margin: 0;
  }
}
@media (max-width: 691px) {
  .cart_counter {
    margin: 0 0 15px;
  }
}
.cart_price {
  margin-right: auto;
  width: 100px;
}
@media (max-width: 931px) {
  .cart_price {
    margin: 0;
  }
}
@media (max-width: 691px) {
  .cart_price {
    margin: 0 0 15px;
    text-align: center;
  }
}
.cart_remove {
  cursor: pointer;
}
.cart_remove-icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 931px) {
  .cart_remove-icon {
    margin: 0;
  }
}
@media (max-width: 691px) {
  .cart_remove-icon {
    display: none;
  }
}
.cart_remove-btn {
  display: none;
}
@media (max-width: 691px) {
  .cart_remove-btn {
    display: inline-block;
  }
}
.cart_summ {
  text-align: right;
}
@media (max-width: 691px) {
  .cart_summ {
    text-align: center;
  }
}

.counter_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 160px;
  height: 40px;
  box-sizing: border-box;
  border: #A8AFBB 1px solid;
  font-size: 1.6em;
  text-align: center;
}
.counter_minus {
  width: 42px;
  height: 100%;
  border-right: #A8AFBB 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.counter_plus {
  width: 42px;
  height: 100%;
  border-left: #A8AFBB 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.form {
  background-color: #F2F5F9;
  padding: 70px 0 76px;
  width: 100%;
  text-align: center;
}
.form_title {
  margin-bottom: 30px;
}
.form_body {
  display: inline-block;
  width: 430px;
  margin: 0 auto;
}
@media (max-width: 511px) {
  .form_body {
    width: 290px;
  }
}
.form_item {
  margin-bottom: 30px;
  max-width: 100%;
}
.form_input {
  height: 60px;
  width: 100%;
  padding: 0 25px;
  box-sizing: border-box;
  font-size: 1.6em;
  line-height: 20px;
  font-weight: 500;
}
.form_button {
  height: 60px;
  width: 100%;
  background-color: #296DC1;
  color: #fff;
  font-weight: 600;
  font-size: 1.2em;
  line-height: 16px;
}

.disable {
  opacity: 0.5;
}

footer {
  margin-top: 70px;
  padding: 20px 0;
  border-top: 1px solid #A8AFBB;
  color: #7C828B;
  font-weight: 500;
  font-size: 1.2em;
  line-height: 16px;
}