// Null===================
@import "_null.scss";
// Fonts==================
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700);

.text {
    font-size: 1.6em;
    line-height: 20px;
}
h1 {
    font-weight: 700;
    font-size: 3em;
}
h2 {
    font-weight: 700;
    font-size: 2.6em;
}
.cost {
    font-size: 1.8em;
    font-weight: 700;
    line-height: 24px;
}
// Main====================

body {
    font-weight: 400;
    font-size: 10px;
    font-family: Montserrat;
    color: #000;
}
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    @media (max-width: 931px) {
        max-width: 930px;
    }
    @media (max-width: 690px) {
        max-width: 510px;
    }
}
.hide {
    // display: none;
}

// Header======================
.header {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;

margin-top: 37px;


    &_logo {

        &-image {
            @media (max-width: 690px) {
                width: 180px;
            }
    }
}
    &_cart {
        position: relative;
        text-align: center;
        color: #35383A;

        height: 30px;
        font-weight: 600;
        width: 142px;

        @media (max-Width:511px) {
            width: 49px;
        }

        &-total{
            display: inline-block;
            background-color: #00A82D;
            width: 21px;
            height: 21px;
            padding-top: 2px;
            border-radius: 50%;
            position: absolute;
            top: 3px;
            right: 5px;

            font-size: 12px;
            text-align: center;
            color: #fff;
            @media (max-Width:511px) {
                right: -5px;
            }
        }
        &::before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 28px;
            height: 23px;
            background: no-repeat url(/Test-work/src/icon/cart.svg);
            // z-index: -10;
        }
        & a {
            width: 100%;
            height: 100%;
            display: inline-block;
            padding-top: 5px;
        }
        & span {
            display: inline-block;
            @media (max-Width:511px) {
                color: #fff;
                opacity: 0; 
            }
        }
    }
    &_cart:hover{
        color: #00A82D;
        &::before{
            background: no-repeat url(/Test-work/src/icon/cart_green.svg);
        }
    }
}

// Сatalog=================
.catalog {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_title {
        line-height: 39px;
        margin-bottom: 40px;
    }
    &_items {
        width: 100%;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 40px;
        grid-column-gap: 30px;
        @media (max-width:991px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width:691PX) {
            grid-template-columns: repeat(1, 1fr);
        }
        
    }
}
.item {
    max-width: 270px;
    height: 380px;
    padding: 10px 10px 35px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid #DEDEDE;
    @media (max-width:691px) {
        max-width: 450px;
        height: fit-content;
        padding: 20px 25px;
    }
    @media (max-width:511px) {
        padding: 10px 10px 35px;
    }

    display: flex;
    flex-direction: column;
    align-items: center;

    cursor: pointer;

    &_image {
        margin-bottom: auto;
        max-width: 200px;
        max-height: 200px;
        & img {
            width: 100%;
            height: 100%;
        }
        @media (max-width:691px) {
            max-width: 400px;
            max-height: 400px;
        }
        @media (max-width:511px) {
            margin-bottom: 15px;
        }
    }
    &_name {
        text-align: center;
        margin-bottom: 15px;
        font-weight: 500;
    }
    &_btn {
        background-color: #296DC1;
        padding: 0 12px;
        height: 0px;

        font-weight: 600;
        font-size: 1.2em;
        color: #fff;
        line-height: 16px;
        
        transition: height 0.3s linear;
        @media (max-width: 690px) {            
            height: 40px;
        }
        
    }
    &_cost{
        margin-bottom: 15px;
    }
    &:hover{
        padding: 10px 10px 10px;
    }

    &:hover button{
        height: 40px;
        transition: height 0.3s ease;
    }
}

// Cart ===================
.cart {
    margin: 60px 0 40px;
    &_title {
        text-align: center;
    }

    &_items {
        display: flex;
        flex-direction: column;
    }
    &_item {
        display: flex;
        flex-direction: row;
        align-items: center;

        padding: 0 30px 40px 12px;
        margin-bottom: 40px;
        box-sizing: border-box;
        border-bottom: #A8AFBB solid 1px;
        @media (max-width: 931px) {
            justify-content: space-between;
        }
        @media (max-width: 691px) {            
        flex-direction: column;
        }
    }
    &_image {
        width: 125px;
        margin-right: 65px;
        
        & img {
            width: 100%;
        }
        @media (max-width: 931px) {
            margin: 0;
        }
        @media (max-width: 691px) {
        margin: 30px 0 10px;
        width: 400px;
        }
        @media (max-width: 511px) {
            width: 200px;
        }
    }
    &_name {
        font-weight: 500;
        margin-right: 150px;
        max-width: 270px;
        @media (max-width: 1170px) {
            margin-right: 50px;
        }
        @media (max-width: 931px) {
            margin: 0;
        }
        @media (max-width: 691px) {
            margin: 0 0 15px;
            text-align: center;
        }
    }
    &_counter{
        margin-right: 160px;
        @media (max-width: 1170px) {            
        margin-right: 75px;
        }
        @media (max-width: 931px) {
            margin: 0;
        }
        @media (max-width: 691px) {            
            margin: 0 0 15px;         
        }
        
    }
    
    &_price {
        margin-right: auto;
        width: 100px;
        @media (max-width: 931px) {
            margin: 0;
        }
        @media (max-width: 691px) {
            margin: 0 0 15px;
            text-align: center;
        }
    }
    &_remove {

        &-icon{
            width: 30px;
            height: 30px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            & img {
                z-index: -10;
            }

            @media (max-width: 931px) {
                margin: 0;
            }
            @media (max-width: 691px) {
                display: none;
            }
        }
        &-btn {
            display: none;
            & img {
                z-index: -15;
            }
            @media (max-width: 691px) {
                display: flex;
            }
        }
    }
    &_summ {
        text-align: right;
        @media (max-width: 691px) {
            text-align: center;
        }
    }
}
.counter{

    &_wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 160px;
        height: 40px;
        box-sizing: border-box;
        border: #A8AFBB 1px solid;

        font-size: 1.6em;
        text-align: center;
    }
    &_minus {
        width: 42px;
        height: 100%;
        border-right: #A8AFBB 1px solid;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    &_plus {
        width: 42px;
        height: 100%;
        border-left: #A8AFBB 1px solid;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}

// Form ===================

.form {
    background-color: #F2F5F9;
    padding: 70px 0 76px;
    width: 100%;
    text-align: center;
    &_title {
        margin-bottom: 30px;
    }
    &_body {
        display: inline-block;
        width: 430px;
        margin: 0 auto;
        @media (max-width:511px) {
            width: 290px;
        }
    }
    &_item {
        margin-bottom: 30px;
        max-width: 100%;
    }
    &_input {
        height: 60px;
        width: 100%;
        padding: 0 25px;
        box-sizing: border-box;

        font-size: 1.6em;
        line-height: 20px;
        font-weight: 500;
    }
    &_button {
        height: 60px;
        width: 100%;
        background-color: #296DC1;
        color: #fff;

        font-weight: 600;
        font-size: 1.2em;
        line-height: 16px;
    }
}

.disable {
    opacity: 0.5;
}
// Footer==================
footer {
    margin-top: 70px;
    padding: 20px 0;
    border-top: 1px solid #A8AFBB;

    color: #7C828B;
    font-weight: 500;
    font-size: 1.2em;
    line-height: 16px;
}